name: Publish package verdox repo

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      REPO_USER: ${{ secrets.REPO_USER }}
      REPO_PASSWORD: ${{ secrets.REPO_PASSWORD }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Run api tests
        run: ./gradlew api:test

      - name: Publish api package
        run: ./gradlew api:publish

      - name: Run vanilla tests
        run: ./gradlew vanilla:test

      - name: Publish vanilla package
        run: ./gradlew vanilla:publish

      - name: Run paper tests
        run: ./gradlew paper:test

      - name: Publish paper package
        run: ./gradlew paper:publish

      - name: Run mcc-class-generator tests
        run: ./gradlew mcc-class-generator:test

      - name: Publish mcc-class-generator package
        run: ./gradlew mcc-class-generator:publish